.btn{
background-color: rgba(124, 78, 228, 1);
color: aliceblue;
}
span{
    color:rgba(124, 78, 228, 1);
}
.hero-container{
    background-color: rgba(124, 78, 228, 1);
}
.read{
    background-color: black;
    color: aliceblue;
}
.btn2{
border-color:  rgba(124, 78, 228, 1);
color: rgba(124, 78, 228, 1);
    
}
.purple{
    color:  rgba(124, 78, 228, 1);
}
.popular{
    display: flex;
}
.btn3{
    color: aliceblue;
    background-color: rgba(124, 78, 228, 1);
    padding-left:24px ;
    padding-right: 25px;
    border-color: aliceblue;
    border-radius:20px ;
    
}

.button-view{
    background-color: rgba(124, 78, 228, 1);
    margin-right:30px ;
    color: aliceblue;
}

    


